[include]
  path = .gitconfig.local

[alias]
  br = branch
  bra = branch -a
  cmm = commit -m
  co = checkout
  cob = checkout -b
  difff = diff --word-diff

  # いい感じのグラフでログを表示
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

  st = status
  stt = status -uno  # 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する

