[include]
  path = .gitconfig.local

[alias]
  br = branch
  bra = branch -a
  brd = branch -d
  cmm = commit -m
  cmv = commit -v
  co = checkout
  cob = checkout -b
  diffc = diff --cached
  difff = diff --word-diff
  fep = fetch -p
  restaged = restore --staged

  # いい感じのグラフでログを表示
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

  st = status
  stt = status -uno  # 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する

[merge]
	ff = false

[push]
	default = current

[pull]
	ff = only

[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore_global

[pager]
  branch = "less -F -X"
  log = "less -F -X"

